/* RESET */

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

img {
    max-width: 100%;
}

ul,
ol menu {
    list-style: none;
}

/* LAYOUT */

body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.container-mini {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.header-list {
    display: flex;
    gap: 25px;
}

.header-button {
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.align-items{
    align-items: end;
}

.align-content {
    align-content: center;
}

.col-1_4 {
    width: calc(100% / 4);
    height: 50px;
}

.col-2_4 {
    width: calc(100% / 2);
    height: 50px;
}

.col-60 {
    width: 60%;
    height: 400px;
    background-image: url(../img/item1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.col-40 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 27%;
    height: 345px;
    font-size: 20px;
    gap: 3px;
}

.seconda-sezione{
    justify-content: space-between;
}

.col-40 p {
    font-size: 15px;
}

.col-100-footer {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.col-100 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

.col-33 {
    width: calc(100% / 3 - 10px);
    margin: 0 5px;
}

.col-1_6 {
    width: calc(100% / 6);
    height: 300px;
}

.col-2_6 {
    width: calc((100% / 6) * 2);
    font-size: 19px;
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    gap: 5px;
   
    
}

.row-footer {
    padding: 15px 0 ;
    justify-content: space-between;
}

.submit {
    border: 1px dashed;
    font-size: 15px;
    padding: 5px;
}

.col-2_6 .text-blu {
    display: flex;
    align-items: center;
}

.col-2_6 span {
    font-size: 12px;
}

.footer-container {
    border-bottom: 0.5px solid #7389DA;
}

/* STILI GENERALI */

.header-section {
    background-color: #3161E0;
    color: white;
    padding: 10px;
    font-size: 12px;
}


.main-header {
    border: 2px dashed rgb(0, 0, 0);
    padding: 10px;
    background-color: orange;
}

.section-bg {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    height: 370px;
    padding: 50px;
}

.col-100 p{
    font-size: 15px;
}

.section-button {
    border: none;
    border-radius: 20px;
    padding: 13px;

}

.section {
    padding: 30px;
}

.border {
    border-bottom: 3px solid white;
}

.bg-color-button{
    background-color: #23272A;
    color: white;
}

.footer-button {
    background-color: #8FA1E1;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.text-blu {
    color: #7389DA;
}

.flag {
    height: 20px;
}

.text-white {
    color: white;
}



/* DEBUG */

.debug .border-dashed {
    border: 2px dashed black;
}

.debug .bg-blue {
    background-color: blue;
}

.debug .bg-pink {
    background-color: pink;
}

.debug .bg-red {
    background-color: red;
}

.debug .bg-grey {
    background-color: lightgrey;
}

.debug .bg-pink {
    background-color: pink;
}

.debug .bg-green {
    background-color: green;
}

.debug .bg-black {
    background-color: #23272A;
}

.debug .bg-salmon {
    background-color: salmon;
}

.debug .bg-white {
    background-color: white;
}

